{
  "presets": ["next/babel", "env", "react"],
  "plugins": [
    "transform-decorators-legacy",
    "inline-react-svg",
    ["module-resolver", {
      "root": ["."],
      "alias": {
        "containers": "./src/containers",
        "components": "./src/components",
        "src": "./src",
        "static": "./static",
        "helpers": "./src/helpers"
      }
    }]
  ]
}
